body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0 40px 0;
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10gpx;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

label {
  margin-bottom: 10px;
}

input {
  width: 50%;
  padding: 5px;
  margin: 5px 0;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 1s;
}

button:hover {
  background-color: #0056b3;
}